<!DOCTYPE html>
<html>
<head>
<title>
welcome
</title>
</head>

<body style="background-color:#e0e0eb">

<h1>Meteo data viz tool</h1>
<h2><i>Welcome</i></h2>
<p>
    This is an API to get and visualize data (precipitation and mean temperatures) from the <a href="http://www.aemet.es/es/datos_abiertos/AEMET_OpenData" target="_blank">open data portal of the Spanish Meteorological Agency - AEMET</a>.
    <br>
    First, you need to generate your own API key <a href="https://opendata.aemet.es/centrodedescargas/altaUsuario?" target="_blank">here</a>.
    <br>
    <ul style="list-style-type:none;"><li><a href="/aemetapp"><h2>Start!</h2></a></li></ul>
    <br>
    <h5>Note: by April 2022, the AEMET only provides open data of the last 5 years.</h5>
</p>

<hr>

<p style="font-size:90%;">
    Hi! I'm Fabio, the author of this API. You can find me <a href='https://fabionatalini.wixsite.com/fabio' target="_blank">here</a>.
    Please <a href='https://fabionatalini.wixsite.com/fabio/contact' target="_blank">contact me</a> for any suggestion or query about this API.
    Thanks!
</p>




</body>
</html>